/* green is this code #26b7a0 */
/* grey is this code #3d3f4c */
/* font-family: 'Source Sans Pro', sans-serif; */

body, html, div, main, header {
    margin: 0%;
    padding: 0;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 14vw;
    height: 100vh;
    color: #3d3f4c;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.day {
    background-color:#26b7a0;
    margin: 5px;
    padding: 5px;
}

.calendar-header {
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: powderblue;
    background-image: url(duotone.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin: 5px;
}

.space {
    grid-column-start: 1;
    grid-column-end: 3;
}
